/* RESET */
:root {
  --player-height: 90px;
  --sidebar-width: 28px;
  --sidebar-width-big: 170px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  color: grey;
  padding: 5px;
}

ul {
  list-style-type: none;
}

.text {
  color: grey;
  margin-left: 5px;
}

.name {
  color: white;
}

h4 {
  color: white;
}

/* LAYOUT */

/* WRAPPER */

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(20 25 34);
}

/* CONTENT */

#top-content {
  height: calc(100vh - (var(--player-height)));
  display: flex;
}

.main-content {
  width: calc(100% - var(--sidebar-width));
}

/* SIDEBAR */

.sidebar {
  width: var(--sidebar-width);
  background-color: black;
  display: flex;
  flex-direction: column;
}

.symbol {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: white;
}

.icon {
  width: 20px;
}

.symbol-full {
  width: 100px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.symbol-small {
  display: flex;
  align-items: center;
  width: 20px;
}

.section-symbol {
  margin-left: 3px;
}

.structure-profile {
  margin-top: auto;
}

.sidebar .text {
  font-size: 13px;
}

/* PLAYLIST */

.playlist {
  padding: 7px;
}

/* PLAYER */

#player {
  height: 90px;
  background-color: rgb(40 40 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  flex-grow: 1;
  gap: 3px;
}

/* PLAYER-COVER */
.cover {
  display: flex;
  align-items: center;
}

.cover-sidebar {
  width: 40px;
  padding: 2px;
}

.text-cover {
  display: flex;
  padding: 3px;
}

.title-cover {
  font-size: 10px;
  color: white;
}

.subtitle-cover {
  color: grey;
}

.icon-cover {
  display: flex;
  flex-wrap: wrap;
  color: grey;
  padding: 3px;
  gap: 5px;
  flex-direction: column;
}

/* SETTINGS-REPRODUCTION */

.settings {
  flex-direction: column;
  display: flex;
  flex-shrink: 1;
  color: white;
  gap: 5px;
}

.settings-icon {
  color: white;
  display: flex;
  font-size: 30px;
  gap: 22px;
}

.progress-bar-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.text-time {
  font-size: 12px;
}

.text-time-total {
  font-size: 12px;
}

.progress-bar {
  display: flex;
  border: 2px solid grey;
  border-radius: 5px;
  height: 10px;
  width: 160px;
}

.progress-bar-now {
  background: grey;
  width: 25%;
}

/* AUDIO */

.audio {
  display: flex;
  align-items: center;
}

.icon-audio .progress-bar {
  width: 80px;
  align-items: center;
}

.icon-audio {
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;
}

.audio .progress-bar-now {
  background: grey;
  width: 10%;
}

/* CATEGORY */

.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-list {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* DISPOSITIVO XS */

@media screen and (max-width: 576px) {
  .sidebar {
    width: var(--sidebar-width);
    background-color: black;
  }

  .main-content {
    width: calc(100% - var(--sidebar-width));
  }

  .symbol-full {
    display: none;
  }

  .text {
    display: none;
  }

  ul {
    display: none;
  }

  h4 {
    display: none;
  }
}

/* UPGRADE */

.upgrade {
  background-color: rgb(9 11 18);
  display: flex;
  height: 70px;
  justify-content: flex-end;
}

.header-upgrade {
  display: flex;
  align-items: center;
}

.button-upgrade > button {
  height: 41px;
  border-radius: 20px;
  width: 200px;
  background-color: rgb(9 11 18);
  color: white;
  font-size: 10px;
}

/* CATEGORY */

/* DISPOSITIVO S */
@media screen and (min-width: 577px) {
  .sidebar {
    width: var(--sidebar-width-big);
    background-color: black;
  }

  .main-content {
    width: calc(100% - var(--sidebar-width-big));
  }

  .symbol-small {
    display: none;
  }

  .icon-cover {
    display: flex;
    flex-direction: row;
  }
}

/* DISPOSITIVO MD */

@media screen and (min-width: 768px) {
}

.setting > .progress-bar {
  overflow: auto;
}
